/*application.html.erbに対するCSS。*/
.nav-wrapper {
  background-color: #008b8b;
}

/*_tweet.html.erb, show.html.erb, new.html.erb, edit.html.erbに対するCSS。*/
.row {
  width: 95%;
  padding: 40px 0 0 0;
}
.col {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.card-action {
  background-color: #008b8b;
}

.fab{
  color: #008b8b;
}

/*new.html.erb, edit.html.erbに対するCSS。*/
.btn.btn-primary.withripple {
  margin: 0 0 0 80px;
  background-color: #008b8b;
}


